:root {
  --title-color: #322153;
  --primary-color: #3e7c17;
  font-size: 62.5%; /* 10px */
} /* root é referenciando a raiz do documento html, sendo possivel colocar algumas propriedades que vão ser repetidas e replicadas utilizando em formato de variaveis*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: Roboto, sans-serif;
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: "Titillium Web", sans-serif;
}

button {
  all: unset; /* Reseta todas as propriedades do Botão */
  box-sizing: border-box;
}
