/* Inicio das propriedades do Header */
header {
  background-color: var(--primary-color);
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
}

.container {
  display: flex;
  align-items: center;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-right: 20px;
}

.navigation a:hover {
  border-bottom: 3px solid orange;
}

.photo {
  width: 50px;
  height: 50px;
}

/* Fim das propriedades do Header */

/* Inicio do main */

.main-container {
  display: flex;
  flex-direction: column;
}

.main-container .orange-section {
  height: 300px;
  width: 100%;
  background-color: #f4a442;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Titulo do main */

.orange-section h1 {
  margin-top: 50px;
  color: var(--background-color);

  font-weight: 700;
  font-size: 36px;
}

/* Fim do Titulo */

/* Filtros do main */

.orange-section .filtros {
  width: 743px;
  display: flex;
  margin-top: 20px;
}

.filtros label {
  font-weight: 400;
  color: var(--background-color);
  font-size: 14px;
}

.filtros input {
  width: 235px;
  height: 56px;

  margin: 10px 20px 0 0;
  padding-left: 10px;

  border: none;
  border-radius: 8px;

  font-size: 16px;
}

.filtros select {
  width: 235px;
  height: 56px;

  margin-top: 10px;
  padding-left: 10px;

  border-radius: 8px;
  border: none;

  font-size: 16px;
}

/* Fim dos Filtros */

/* Inicio das Trilhas */

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-block: 50px;
}

.card1 {
  width: 1120px;
  height: 370px;

  background-color: white;

  border-radius: 8px;
  border: 1px solid;
  border-color: #e6e6ef;

  padding: 45px 0 0 32px;

  margin-bottom: 30px;
}

/* Nome do autor da Trilha */
.card1 p {
  color: #6a6180;
  margin: 4px 0 44px;
}

/* Texto da Trilha */
.card1 p + p {
  line-height: 26px;
  margin: 0;
}

/* Botão Entrar na Trilha */

.card1 a {
  width: 100%;
  max-width: 300px;
  height: 60px;

  border-radius: 8px;

  display: flex;
  align-items: center;

  margin-top: 40px;

  background-color: var(--primary-color);
}

.card1 a span {
  width: 60px;
  height: 60px;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  background-color: rgba(0, 0, 0, 0.08);

  display: flex;
  align-items: center;
  justify-content: center;
}

.card1 a span::after {
  content: "";
  background-image: url("../../../assets/inicial/study.svg");

  width: 40px;
  height: 40px;
}

.card1 a strong {
  color: white;
  flex: 1;
  text-align: center;
  font-size: 18px;
}

.button {
  display: flex;
  justify-content: center;

  height: min-content;
}
/* Fim do Botão Entrar na Trilha */
